/** @format */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/back.png) center/cover no-repeat;
  background-color: #4d005a;
}
#dash {
  min-height: 100%;

  padding-bottom: 3.75rem;
}

.logo-container {
  padding-top: 2.188em;
  margin-bottom: 2.188em;
}

.logo {
  width: 9.188em;
  height: 5.25em;
  background: url(../img/logo-header.png) center/cover no-repeat;
}

.dashboard {
  background-color: azure;
  min-height: 41.875em;
  border-radius: 30px;
}
.infogram-embed {
  border-radius: 30px;
}
iframe {
  border-radius: 30px;
}
